
* text=auto

meta.yaml text eol=lf
build.sh text eol=lf
bld.bat text eol=crlf
recipe/patches/*-Win32-Do-not-download-externals.patch binary
recipe/patches/*-Unvendor-openssl.patch binary
recipe/patches/*-Unvendor-sqlite3.patch binary
